@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=PT+Sans+Narrow:wght@700&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Estilo Geral */

body{
    background-color: rgb(0, 0, 0);
    font-family: 'PT Sans Narrow', sans-serif;
}

img{
    width: 150px;
}

img:hover{
    width: 200px;
    transition: 200ms;
}


.container{
    margin-top: 5%;
    margin-left: 12%;
    width: 70%;
    height: auto;
    display: flex;
    padding: 3%;
    border: 2px black solid;
    border-radius: 35px;
    box-shadow: 0px 0px 20px -4px rgba(121, 121, 121, 0.89);
    background-color: rgba(241, 241, 241, 0.945);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.superherois{
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: xx-large;
    font-family: 'Acme', sans-serif;
}

span{
    font-size: large;
}

h2:hover{
    font-size: 40px;
    transition: 200ms;
}


.herois{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.658);
    justify-content: space-around;
    align-items: center;
}

.herois:hover{
    padding: 4%;
    transition: 200ms;
}

.herois:active{
    padding: 4%;
    transition: 70ms;
}

.botao{
    border-radius: 10px;
    height: auto;
    padding: 2%;
}


.botao:hover{
    padding: 5%;
    transition: 200ms;
}


.botao a{
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10% 0 10% 0;
    font-family: 'Acme', sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
}


.botao a:hover{
    font-size: x-large;
    transition: 200ms;
}

/* Super-Homem*/

#superHomem{
    background-color: #062bb1;
    color: black;
    margin-right: 4%;
    border: 3px red solid;
}

#superHomem:active{
    background-color: red;
    border: 3px #062bb1 solid;
    color: white;
}

#botaoSuperHomem{
    background-color: red;
}

#botaoSuperHomem:active{
    background-color: #062bb1;
    transition: 70ms;
}

#botaoSuperHomem a:active{
    color: black;
    transition: 70ms;
}

/* Batman*/

#batman{
    background-color: #fff200;
    margin-right: 4%;
    border: 3px black solid;
}

#batman:active{
    background-color: black;
    border: 3px #fff200 solid;
    color: #fff200;
}

#botaoBatman{
    background-color: black;
}

#botaoBatman:active{
    background-color: #fff200;
    transition: 70ms;
}


#botaoBatman a:active{
    color: black;
    transition: 70ms;
}

/* Mulher Maravilha */

#mulherMaravilha{
    background-color: #ed1c23;
    border: 3px #007cb6 solid;
}

#mulherMaravilha:active{
    background-color: #007cb6;
    border: 3px #ed1c23 solid;
    color: white;
}

#botaoMulherMaravilha{
    background-color: #007cb6;
}

#botaoMulherMaravilha:active{
    background-color: #ed1c23;
    transition: 70ms;
}

#botaoMulherMaravilha a:active{
    color: black;
    transition: 70ms;
}



/* Rodapé */

footer{
    margin-top: 5%;
    text-align: center;
}

footer img{
    width: 200px;
}

footer img:hover{
    width: 300px;
    transition: 200ms;
}

/* Design para mobile */

@media (max-width:800px){
    .superherois{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .herois{
        width: 70%;
        margin: 0 0 4% 0;
    }
    #mulherMaravilha{
        margin: 0;
    }
}